h1 {
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  padding: 5px;
  border: 2px solid blue;
}
.padding {
    padding: 2000px 0px 0px 300px
}
.box {
  float: left;
  width: 20%;
  margin: 124px 3px 0px 0px;
  background-color:darkred
}
.box2 {
    float: left;
  width: 75%;
  margin: 124px 0 0 0;
  background-color:green
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
body {
    background-color: #B8BCC0
}